<footer class="footer mt-auto py-3 bg-primary footer-shadow-top">
  <div class="container text-center">
    <span class="text-light">© <%= Time.now.year %> <%= link_to "recipe-app", "https://github.com/techmoves/budgect-app", class: "text-decoration-none text-warning" %> by Phelelani Ndlovu</span>
  </div>
</footer>
